/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/bt.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h> 
#include "keys_de.h"
#include <dt-bindings/zmk/outputs.h>

/ {
	behaviors {
        // Für Shift (F/J): Schnell (130ms)
        hm_fast: homerow_mods_fast {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <130>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        // Standard Homerow Mods (D/S/K/L): Dein Standard (200ms)
        hm: homerow_mods_std {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        // Für GUI (A/Plus): Langsam (700ms)
        hm_slow: homerow_mods_slow {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <700>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };
	
	combos {
		compatible = "zmk,combos";
		timeout-ms = <50>;
	
		combo_caps {
			key-positions = <14 15>;
			bindings = <&kp CAPS>;
		};
	
		combo_space {
			key-positions = <15 16>;
			bindings = <&kp SPACE>;
		};
	
		combo_enter {
			key-positions = <12 13>;
			bindings = <&kp ENTER>;
		};
	
		combo_redo {
			key-positions = <1 2>;
			bindings = <&kp LC(Y)>;
		};
	
		combo_undo {
			key-positions = <11 12>;
			bindings = <&kp LC(Z)>;
		};
};

 lt_hp: layer_tap_hold_preferred {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced"; 
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;        // <--- DIES IST WICHTIG FÜR WIEDERHOLUNG
            bindings = <&mo>, <&kp>;
        };
	
//	Linke Hälfte                Rechte Hälfte
// 0  1  2  3  4                5  6  7  8  9
//10 11 12 13 14               15 16 17 18 19
//20 21 22 23 24               25 26 27 28 29
//        30 31 32         33 34 35
//          (Daumen)         (Daumen)

	keymap {
        compatible = "zmk,keymap";
		
		default_layer {
            bindings = <
				&kp Q        	&kp W        	&kp E       &kp R        		&kp T   &kp Y       &kp U        		&kp I        	&kp O        		&kp P
				&hm_slow LGUI A &hm LALT S 		&hm LCTRL D &hm_fast LSHFT F 	&kp G   &kp H 		&hm_fast RSHFT J 	&hm RCTRL K 	&hm RALT L 			&hm_slow RGUI DE_PLUS
				&kp Z   		&mt LC(LSFT) X  &kp C     	&kp V        		&kp B   &kp N       &kp M        		&kp DE_COMMA 	&mt LC(LSFT) DE_DOT &kp DE_MINUS
								&lt 3 ESCAPE  &lt_hp 2 TAB  &lt_hp 1 SPACE            		&lt_hp 3 ENTER  &lt_hp 2 BACKSPACE  &lt_hp 1 DELETE
            >;
         };
		 
         symbolNav_layer {
            bindings = <
			   &kp PAGE_UP 	&kp LC(LEFT)	&kp UP 		&kp LC(RIGHT) 	&kp DE_LT   	&kp DE_BSLH   &kp DE_LBKT &kp DE_RBKT   &kp DE_AT 		&kp DE_DLLR 
			   &kp PAGE_DOWN &kp LEFT 		&kp DOWN 	&kp RIGHT 		&kp DE_GT 		&kp DE_DQT    &kp DE_LPAR &kp DE_RPAR 	&kp DE_EXCL 	&kp DE_EQUAL 	
			   &trans      	&kp HOME 		&kp INSERT 	&kp END 		&kp DE_ACUTE    &kp DE_APOS   &kp DE_LBRC &kp DE_RBRC  	&kp DE_POUND    &kp DE_AMPS 
												&trans     &trans       &trans      &kp DE_FSLH  	&kp DE_STAR   &kp DE_QMARK
            >;
        };

        number_layer {
            bindings = <
			   &trans   &kp N7 &kp N8   &kp N9   &kp DE_TILDE   	&kp CARET 		&trans  &trans 	&trans				&trans
			   &trans   &kp N4 &kp N5   &kp N6   &kp N0      		&trans 			&kp DE_A_UMLAUT &kp DE_O_UMLAUT   	&kp DE_U_UMLAUT  	&kp DE_CAPITAL_SZ 
			   &kp N0   &kp N1 &kp N2   &kp N3   &kp DE_PIPE     	&trans 			&kp LC(C)  		&kp LC(V) 			&kp DE_RBRC 		&kp DE_PIPE 
										 &trans &trans   &trans   	&kp DE_BSLH    	&kp DE_PIPE    	&kp DE_POUND 
            >;
        };
				
        function_layer {
            bindings = <
			   &kp F12   &kp F7 &kp F8 	 &kp F9   &kp RC(RS(P))   &trans 		&kp AMPS  		&msc SCRL_UP 	&bt BT_CLR  		&bt BT_SEL 0
			   &kp F11   &kp F4 &kp F5   &kp F6   &trans      	  &msc SCRL_UP 	&msc SCRL_LEFT 	&msc SCRL_RIGHT	&bt BT_SEL 1  		&bt BT_SEL 2 
			   &kp F10   &kp F1 &kp F2   &kp F3   &kp LS(LA(Y))   &kp C_MUTE 	&kp C_PREV  	&kp C_NEXT  	&kp C_VOL_DN 	&kp C_VOL_UP
										 &trans &trans   &trans   &trans   &trans    &trans 
            >;
        };				
        };
};
